{% extends 'base.html' %}
{% block title %} | Search Results {% endblock %}
{% block content %}

{% load humanize %}
<!-- Banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Search Results</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Search</li>
            </ul>
        </div>
    </div>
</div>
<!-- Banner end -->

<!-- Search box 3 start -->
<div class="search-box-3 sb-7 bg-active">
    <div class="container">
        <div class="search-area-inner">
            <div class="search-contents">
                <form action="{% url 'search' %}" method="GET">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="model">
                                    <option disabled="disabled" selected="selected">Model</option>
                                    {% for model in option_values_model_queryset %}
                                    <option>{{model}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="city">
                                    <option disabled="disabled" selected="selected">City</option>
                                    {% for city in option_values_city_queryset %}
                                    <option>{{city}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="year">
                                    <option disabled="disabled" selected="selected">Year</option>
                                    {% for year in option_values_years_queryset %}
                                    <option>{{year}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="body_style">
                                    <option disabled="disabled" selected="selected">Body Style</option>
                                    {% for body_style in option_values_body_style_queryset %}
                                    <option>{{body_style}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="transmission">
                                    <option disabled="disabled" selected="selected">Transmission</option>
                                    {% for transmission in option_values_transmission_queryset %}
                                    <option>{{transmission}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <div class="range-slider">
                                    <div data-min="0" data-max="150000" data-unit="USD" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <button class="btn btn-block button-theme btn-md">
                                    <i class="fa fa-search"></i>Find
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Search box 3 end -->

{% for searched_car in search_cars %}
    {{searched_car}}

{% endfor %}

<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Here's your <span>Cars</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="row">
            {% for searched_car in searched_cars %}
            <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="car-thumbnail">
                        <a href="car-details.html" class="car-img">
                            <div class="tag">For Sale</div>
                            <img class="d-block w-100" src="{{searched_car.car_image.url}}" alt="car" style="min-height: 268px; max-height: 268px;">
                            <div class="facilities-list clearfix">
                                <ul>
                                    <li>
                                        <span><i class="flaticon-way"></i></span>{{searched_car.miles | intcomma}} km
                                    </li>
                                    <li>
                                        <span><i class="flaticon-calendar-1"></i></span>{{searched_car.year}}
                                    </li>
                                    <li>
                                        <span><i class="flaticon-manual-transmission"></i></span>{{searched_car.transmission}}
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <a class="overlap-btn" data-toggle="modal" data-target="#carOverviewModal">
                                        <i class="fa fa-eye-slash"></i>
                                    </a>
                                    <div class="car-magnify-gallery">
                                        {% if searched_car.car_image %}
                                        <a href="{{searched_car.car_image.url}}" class="overlap-btn">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src="{{searched_car.car_image.url}}" alt="img">
                                        </a>
                                        {% endif %}
                                        {% if searched_car.car_image_1 %}
                                        <a href="{{searched_car.car_image_1.url}}" class="hidden">
                                            <img class="hidden" src="{{searched_car.car_image_1.url}}" alt="img">
                                        </a>
                                        {% endif %}
                                        {% if searched_car.car_image_2 %}
                                        <a href="{{searched_car.car_image_2.url}}" class="hidden">
                                            <img class="hidden" src="{{searched_car.car_image_2.url}}" alt="img">
                                        </a>
                                        {% endif %}
                                        {% if searched_car.car_image_3 %}
                                        <a href="{{searched_car.car_image_3.url}}" class="hidden">
                                            <img class="hidden" src="{{searched_car.car_image_3.url}}" alt="img">
                                        </a>
                                        {% endif %}
                                        {% if searched_car.car_image_4 %}
                                        <a href="{{searched_car.car_image_4.url}}" class="hidden" >
                                            <img class="hidden" src="{{searched_car.car_image_4.url}}" alt="img">
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="car-details.html">{{searched_car.title}}</a>
                        </h1>
                        <div class="location">
                            <a href="car-details.html">
                                <i class="flaticon-pin"></i>{{searched_car.city}} {{searched_car.state}}
                            </a>
                        </div>
                    </div>
                    <div class="footer clearfix">
                        <div class="pull-left ratings days">
                            <p class="cartype">{{searched_car.body_style}}</p>
                        </div>
                        <div class="pull-right">
                            <p class="price">${{searched_car.price | intcomma}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Featured car end -->


<!-- Car Overview Modal -->
<div class="car-model-2">
    <div class="modal fade" id="carOverviewModal" tabindex="-1" role="dialog" aria-labelledby="carOverviewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title" id="carOverviewModalLabel">
                        <h4>Explore Your Dream Car</h4>
                        <h5><i class="flaticon-pin"></i> 123 Kathal St. Tampa City,</h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row modal-raw">
                        <div class="col-lg-6 modal-left">
                            <div class="item active">
                                {% if searched_car.car_image %}
                                <img src="{{searched_car.car_image.url}}" alt="best-car" class="img-fluid modalLabel-1">
                                {% endif %}
                                {% if searched_car.car_image_1 %}
                                <img src="{{searched_car.car_image_1.url}}" alt="best-car" class="img-fluid modalLabel-2">
                                {% endif %}
                                <div class="sobuz">
                                    <div class="price-box" style="padding-bottom: 5px;">
                                        <span class="del-2">${{searched_car.price | intcomma}}</span>
                                    </div>
                                    <div class="ratings-2">
                                       <a href="#" class="btn btn-md btn-round btn-theme">Sedan</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 modal-right">
                            <div class="modal-right-content">
                                <section>
                                    <h3>Features</h3>
                                    <div class="features">
                                        <ul class="bullets">
                                            <li>Cruise Control</li>
                                            <li>Airbags</li>
                                            <li>Air Conditioning</li>
                                            <li>Alarm System</li>
                                            <li>Audio Interface</li>
                                            <li>CDR Audio</li>
                                            <li>Seat Heating</li>
                                            <li>ParkAssist</li>
                                        </ul>
                                    </div>
                                </section>
                                <section>
                                    <h3>Overview</h3>
                                    <ul class="bullets">
                                        <li>Model</li>
                                        <li>Year</li>
                                        <li>Condition</li>
                                        <li>Price</li>
                                        <li>Audi</li>
                                        <li>2020</li>
                                        <li>Brand New</li>
                                        <li>$178,000</li>
                                    </ul>
                                </section>
                                <div class="description">
                                    <h3>Description</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                                    <a href="#" class="btn btn-md btn-round btn-theme">Show Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
